
@{
    ViewBag.Title = @CRResources.Resources.ThankYou;
}

<h2>@CRResources.Resources.ThankYou</h2>

<div>
    <blockquote>
        <p>
            @CRResources.Resources.VoteHasBeenCast
        </p>
        <p>
            @CRResources.Resources.ThanksForVoting
        </p>
    </blockquote>
</div>

<div class="row">
    <a href="https://macau2014.org/" target="_blank" class="btn btn-lg btn-primary btn-block">@CRResources.Resources.GoToCRWeb</a>
</div>